:root {
  --cream: #fbe7c6;
  --brown: #b35504;
  --green: #b4f8c8;
  --blue: #a0e7e5;
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  max-width: 100%;
}
.cream-color {
  background: var(--cream);
}

.blue-color {
  background: var(--blue);
}

.green-color {
  background: var(--green);
}

.brown-color {
  background: var(--brown);
}
.brown-text {
  color: var(--brown);
  position: relative;
}
.lg-text {
  font-size: 3rem;
}

.underline-div {
  width: 75%;
  background: inherit;
  display: block;
  height: 5px;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.v-application {
  font-family: 'Montserrat', sans-serif !important;
}
.meta-div {
  display: flex;
  padding: 2rem;
}
.icon {
  margin-right: 1.5rem;
}
.section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 100vw;
  width: 100%;
  overflow-x: hidden;
}
